.left_side {
    display: block;
    padding: 0;
    left: 0;
    top: 0;
    height: 100%;
    position: fixed;
    background-color: pink;
    overflow: hidden;
}

img {
    position: relative;
    width: 80px;
    height: auto;
    margin: 0;
    padding: 25px 60px;
    float: center;
}

.titre {
    font-family: "lemon milk bold", sans-serif;
}

div title {
    display: block;
    position: relative;
    border-top: 100;
    padding: 25px 60px;
    margin: 0;
    float: center;
}
div title2 {
    display: block;
    position: relative;
    border-top: 100;
    padding: 25px 60px;
    margin: 0;
    float: center;
}